.chess-board {
  position: absolute;
  display: inline-block;
  border: 1px solid black;
  width: 512px;
}

.square {
  width: 64px;
  height: 64px;
  float: left;
  transition: background 90ms linear;
}

.square.white {
  background: #FCFBE3;
}

.square.black {
  background: #418EAF;
}

.square.selectable:hover,
.square.movable:hover {
  cursor: pointer;
}

.square.white.movable,
.square.white.selectable:hover {
  background: #BF9FCB;
}

.square.black.movable,
.square.black.selectable:hover {
  background: #865699;
}

.piece {
  position: absolute;
  pointer-events: none;
  transition: top 200ms ease-in-out, left 200ms ease-in-out;
}