.chess-board {
  position: absolute;
  display: inline-block;
  border: 1px solid black;
  width: 512px;
}

.square {
  width: 64px;
  height: 64px;
  float: left;
  cursor: pointer;
}

.square.white {
  background: #FCFBE3;
}

.square.black {
  background: #70440F;
}

.piece {
  position: absolute;
  pointer-events: none;
}

.square.selectable:hover {
  background: red;
}