.chess-board {
  position: relative;
  width: 512px;
}

.square {
  width: 64px;
  height: 64px;
  float: left;
  transition: background 90ms linear;
}

.square.white {
  background: #E6FFF6;
}

.square.black {
  background: #418EAF;
}

.square.highlighted:hover {
  cursor: pointer;
}

.square.white.highlighted {
  background: #BF9FCB;
}

.square.black.highlighted {
  background: #865699;
}

.piece {
  position: absolute;
  transition: top 200ms ease-in-out, left 200ms ease-in-out;
}

.piece.selectable,
.highlighted:hover {
  cursor: pointer;
}