/*.main-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}*/

html {
  height: 100%;
}

body {
  background-image: linear-gradient(rgb(197, 197, 197) 0%, rgb(238, 238, 238) 275px);
  background-attachment: fixed;
}

.board-container {
  margin: 65px auto;
  width: 40%;
}

@media (max-width: 900px) {
  .board-container {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .board-container {
    width: 80%;
  }
}