body {
  background-image: linear-gradient(rgb(197, 197, 197) 0%, rgb(238, 238, 238) 150px);
  background-attachment: fixed;
  margin: 0 0 0 8px;
  font-family: 'Hind', sans-serif;
}

.main {
  width: 1005px;
  height: 527px;
  margin: 65px auto;
}

.game-container {
  margin-left: 215px;
}

.board-container {
  float: left;
}

.board-left {
  float: left;
  width: 200px;
  height: 100%;
}

.board-left > h1 {
  font-family: 'Philosopher', sans-serif;
  font-size: 35px;
  color: #555;
  opacity: 0.7;
  margin: 0;
  transition: opacity 130ms;
}

.board-left > h1 > span {
  color: #747474;
}

.board-left > h1:hover {
  opacity: 1;
  cursor: pointer;
}

.padded-box {
  padding: 7px;
  border: thin #aaa solid;
}

.padded-box > * {
  color: #666;
}

.notification-box {
  margin-top: 12px;
  height: 107px;
}

.notification-box,
.chat-box {
  margin-left: -30px;
}

@media (max-width: 1075px) {
  .notification-box,
  .chat-box {
    margin-left: 0;
  }
}

.notifications-container {
  width: 200px;
}

.chat-box {
  height: 293px;
}

.chat-box > textarea {
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Hind', sans-serif;
  height: 63px;
  width: 205px;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.25);
  padding: 4px;
  resize: none;
}

.chat-box > textarea:focus {
  outline: none;
}

.message-list {
  height: 215px;
  margin-bottom: 7px;
  overflow-y: scroll;
  border-top: thin solid #aaa;
  border-bottom: thin solid #aaa;
}

p.game-type {
  font-weight: 500;
  margin: 5px 0 15px 0;
  border-bottom: thin solid #aaa;
}

.notification-box > h4 {
  font-weight: 300;
  margin: 5px 0 5px 0;
  text-transform: capitalize;
}

.notification-box > h4.attention {
  color: red;
}