body {
  background-image: linear-gradient(rgb(197, 197, 197) 0%, rgb(238, 238, 238) 150px);
  background-attachment: fixed;
  margin: 0 0 0 8px;
  font-family: 'Hind', sans-serif;
}

.main {
  width: 1005px;
  height: 527px;
  margin: 65px auto;
}

.game-container {
  margin-left: 215px;
}

.board-container {
  float: left;
}

.above {
  height: 512px;
}

.below {
  height: 18px;
}

.right-side {
  width: 15px;
  height: 512px;
  float: left;
}

.under-label,
.right-label {
  color: #888;
  font-size: 12px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.under-label {
  float: left;
  width: 35px;
  padding-left: 29px;
  line-height: 18px;
}

.right-label {
  width: 11px;
  padding: 23px 0 0 4px;
  height: 41px;
}

.board-left {
  float: left;
  width: 200px;
  height: 100%;
}

.board-left > h1 {
  font-family: 'Philosopher', sans-serif;
  font-size: 35px;
  color: #555;
  opacity: 0.7;
  margin: 0;
  transition: opacity 130ms;
}

.board-left > h1 > span {
  color: #747474;
}

.board-left > h1:hover {
  opacity: 1;
  cursor: pointer;
}

.padded-box {
  padding: 7px;
  border: thin #aaa solid;
}

.padded-box > * {
  color: #666;
}

.notification-box {
  margin-top: 12px;
  height: 107px;
  margin-left: -30px;
}

@media (max-width: 1075px) {
  .notification-box {
    margin-left: 0;
  }
}

.notifications-container {
  width: 200px;
}

p.game-type {
  font-weight: 500;
  margin: 5px 0 15px 0;
  border-bottom: thin solid #aaa;
}

.notification-box > h4 {
  font-weight: 300;
  margin: 5px 0 5px 0;
  text-transform: capitalize;
}

.notification-box > h4.attention {
  color: red;
}